@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
nav{
    height:70px;
    display:flex;
    justify-content: space-between;
    background-color:#cafdff;
    align-items:center;
    padding: 0 16px;
}
header{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#eadcff;
    height:calc(100vh - 70px);
    padding:24px;
}
.subheader{
    font-size:20px;
    margin:16px 0 24px 0;
}
.logo{
    width:300px;
}
/*nav links*/
a{
    color:black;
    font-weight:700;
    background-color:#cafdff;
    font-size: 24px;
}
h1{
    font-size:72;
}
button{
background-color:#05c7cf;
color:white;
border:none;
padding:8px 16px;
font-size:24px;
cursor:pointer;
}
ul{
    display:flex;
    padding:0 20px;
}
li{
    list-style-type:none;
    padding: 17px;
}
.row{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    max-width:1300px;
} 
/*ABOUT*/


h2{
    font-size: 60px;
    text-align:center;
    margin-bottom: 24px;
}
#about, #discord, #contact{
    padding:48px 0;
}
#about{
     background-color:#f8ffdc;
}
#discord{
    background-color:#cefeff;
   
}
.section__description{
    display:flex;
    justify-content:center;
}
.about__image--wrapper{
    width:40%;
    padding:0 24px
}
img{
    width:100%;
}
.section__description--wrapper{
    width: 60%;
    padding:0 24px;
}
.section__description--para{
    font-size: 20px;
    line-height:1.6;
    margin-bottom:20px;
}
#contact{
    background-color:#dce9ff;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    width:100%;
}